
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.qr-code-wrap {
    max-width: 600px;
    text-align: center;
    margin: 50px auto;
    box-shadow: 0 0 10px #e5cdcd;
    padding: 20px;
    border-radius: 10px;
}

.qr-code-heading {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.pay_amount {
    padding: 10px;
    width: 100%;
    border: 2px solid;
    border-radius: 6px;
    margin-bottom: 20px;
    max-width: 330px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.qr-code {
    box-sizing: border-box;
}
